h1 {
    background-color: rgb(64, 81, 181);
    color: rgb(230, 230, 230);;
    text-align: center;
    border-radius: 30px;
}

#arch-installation{
    color: rgb(230, 230, 230);
}

h2, h3{
    background-color: rgb(64, 81, 181);
    width: fit-content;
    color: rgb(230, 230, 230);
    padding: 10px;
    border-radius: 20px;
}

#attention, #veuillez-bien-lire-les-commentaires-dans-le-code{
    background-color: red;
    color: white;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    padding-bottom: 10px;
    border-radius: 0;
}
